{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% form_theme questionnaireForm 'bootstrap_5_layout.html.twig' %}
{% block body %}
{% include 'layout/_partial.html.twig' %}
<div class="row">
    <div class="col-md-4 mx-auto mt-2">
        <h1 class="text-center my-5">Add a questionnaire</h1>
        {{ form_start(questionnaireForm) }}
            {{ form_row(questionnaireForm.name) }}
            {{ form_row(questionnaireForm.screens) }}
            {{ form_row(questionnaireForm.xliff) }}
            {{ form_row(questionnaireForm.json) }}
            {{ form_row(questionnaireForm.spec) }}
            {{ form_row(questionnaireForm.version) }}
            {{ form_row(questionnaireForm.author) }}
            {{ form_row(questionnaireForm.device) }}
            {{ form_row(questionnaireForm.isreviewed) }}
            {{ form_row(questionnaireForm.brochure) }}
            <button type="submit" class="btn btn-primary btn-block">Confirm</button>
            <a href="{{path('app_questionnaire')}}"><button type="submit" class="btn btn-danger btn-block ms-3">Cancel</button></a>
        {{ form_end(questionnaireForm) }}
    </div>
</div>
{% endblock %}
